<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite de Contrato">
    <test verbose="2" preserve-order="true" name="Teste de Contrato">
        <classes>
            <class name="com.vemser.rest.tests.usuarios.DeleteUsuariosTest">
                <methods>
                    <include name="testValidarSchemaDeletarUsuarioComSucesso"/>
                    <include name="testDeveDeletarUsuarioComSucesso"/>
                    <include name="testDeveDeletarUsuarioAdministradorSemEstarAutenticado"/>
                    <include name="testDeveDeletarUsuarioComCarrinho"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>